/* 전체 */

body{ margin: 0 auto; }
#body-area{ padding: 50px; text-align: center; }
#main{ display: inline-block; width: 70%; text-align: justify; }

/* 홈버튼 */

#homeArea{ position: fixed; top: 0px; z-index: 10; padding: 10px; font-size: 25px; }
#homeArea a i{ color: #E5F4F4; }
#homeArea a i:hover{ color: #3B9092; }

/* 스크롤 버튼 */

#buttonArea{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    text-align: center;
}
#scroll-up, #scroll-down{
    margin: 5px 0px;
    font-size: 30px;
    color: #E5F4F4;
}
#scroll-up:hover, #scroll-down:hover{
    cursor: pointer;
    color: #3B9092;
}

/* 메뉴바 */

#menubar{
    position: fixed;
    top: 100px;
    left: 10px;
    width: 180px;
    background-color: #E5F4F4;
    font-size: 12px;
    padding: 20px;
}
#menubar ol{
    margin: 0;
    padding: 0;
}
#menubar ol a{
    text-decoration: none;
    color: black;
}
#menubar ol a:visited{
    color: black;
}
#menubar ol a li:hover{
    color:#00ADB7;
}

/* 문단 나누기 */

#body-area div{ margin: 100px 20px; }