/* POST : python & pip 설치 확인 방법 */

#post-about-checking li{
    line-height: 40px;
}
#post-about-checking ol li{
    font-size: large;
}
#post-about-checking ol li ol li{
    font-size: medium;
}
#post-about-checking p{
    border: 2px dashed red;
    background-color: lightyellow;
    padding: 20px;
}