/* 전체 - 표 */

table{
    width: 100%; border-collapse: collapse;
}
th, td{
    padding: 10px; border: 1px solid black;
}
th{
    text-align: center; background-color: lightcyan;
}


/* POST : 수평 수직 정렬 */

#post-about-align-container p{
    padding: 20px 0px;
}
#post-about-align-container img{
    width: 100%;
}
#post-about-align-container table{
    width: 100%;
    table-layout: fixed;
}
#post-about-align-container table tr th{
    text-align: center;
}